
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #e6ffe6;
    font-family: 'Arial';
    }


    /*Menu Dropdown*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3e8e41;
    }

li {
    float: left;
    display: inline-block;
}

/*Edita toda a lista com links do site*/
li a,.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li.dropdown {
    display: inline-block;
}

.dropbtn {
    background-color: #3e8e41;
    color: white;
    padding: 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

/* Conteúdo do dropdown (cores, posição, sombra) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2f6a31;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links no dropdown */
.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Muda a cor do dropdown menu */
.dropdown-content a:hover {background-color: #3e8e41}

/* Menu flutuante */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Muda a cor da tab quando passa o mouse encima */
.dropdown:hover .dropbtn {
    background-color: #2f6a31;
}

/* Rodapé */
footer {
     position: absolute;
     bottom: 0px;
     width: 100%;
}
.logotipo {
    width: 100%;
    text-align: center;
    font-size: 0.7em;
}
.logotipo img {
    width: 20%;
    vertical-align: middle;
}
.redes {
    width: 100%;
    text-align: center;
}
.redes img {
    width: 18%;
}
.redes ul li {
    text-transform: uppercase;
    list-style-type: none;
    display: inline;
}
@media only screen and (min-width: 450px)
and (max-width: 769px){
    footer {
        clear: both;
        width: 100%;
     }
     .logotipo {
         width: 50%;
         float: left;
         text-align: left;
     }
     .redes {
         width: 50%;
         float: right;
     }
}
@media only screen and (min-width: 769px) {
    footer {
        width: 100%;
        clear: both;
        margin-bottom: 3%;
    }
    .logotipo {
        font-size: 1em;
        width: 45%;
        float: left;
        text-align: center;
     }
     .logotipo img, .redes img {
         width: 10%;
     }
     .redes {
         width: 45%;
         float: right;
         margin-right: 1%;
         text-align: center;
     }
}

/* Background do rodapé*/
footer a:hover 
    {background-color: #2f6a31}