/* Documento CSS */

/* Importando fonts do google */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);


/* Estilo do Body. */
body {
    background: #ffffff;
    line-height: 32px;
    margin: 0;
    padding: 0;
    word-wrap:break-word !important;
    font-family: 'Open Sans', sans-serif;

    }
/* Testes de fonts e conteúdos do site. */
h1 {
    font-size: 60px;
    text-align: center;
    color: #FFF;
}   

h3 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #FFF;
}

h3 a {
    color: #FFF;
}

a {
    color: #FFF;
}

h1 {
    margin-top: 100px;
    text-align:center;
    font-size:60px;
    line-height: 70px;
    font-family: 'Bree Serif', 'serif';
    }

/*Termina aqui os testes.*/


/* Ajustes de monitor. */
#container {
    margin: 0 auto;
    max-width: 890px;
}

p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

.toggle,
[id^=drop] {
    display: none;
}

/* background-color para o menu/nav. */
nav { 
    margin:0;
    padding: 0;
    background-color: #216b46;
}

/* Teremos o "ul li" "float: left"
 * precisamos adicionar um clear. */

nav:after {
    content:"";
    display:table;
    clear:both;
}

/* Removendo padding, margin e "list-style" para a "ul",
 * e adicionando "position:reltive" */
nav ul {
    float: left;
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }
    
/* Posicionando a os itens de navegação inline */
nav ul li {
    margin: 0px;
    display:inline-block;
    float: left;
    background-color: #216b46;
    }

/* Estilizando os links */
nav a {
    display:block;
    padding:14px 20px;  
    color:#FFF;
    font-size:15px;
    text-decoration:none;
}


nav ul li ul li:hover { background: #91C53C; }

/* Background color para efeito Hover/Mouse */
nav a:hover { 
    background-color: #91C53C; 
}

/* Escodendo Dropdowns por Padrão
 * e colocando a position: absolute */
nav ul ul {
    display: none;
    position: absolute; 
    /* Deve conter o mesmo número do "line-height" da "nav a" */
    top: 60px; 
}
    
/*Exibe Dropdowns quando Hover/Mouse */
nav ul li:hover > ul {
    display:inherit;
}
    
/* Primeiro Dropdown */
nav ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}

/* Secondo e Terceiros Tiers*/
nav ul ul ul li {
    position: relative;
    top:-60px;
    left:170px; 
}

    
/* Coloca o ' +' após as palavras para informar um dropdown */
li > a:before { content:  '+ '; }
li > a:only-child:before { content: ''; }


/* Media Queries - Adaptação para mobile.
--------------------------------------------- */

@media all and (max-width : 768px) {

    nav {
        margin: 0;
    }

    /* Esconder o "Menu" por padrão. */
    /* Esconde o .toggle  */
    .toggle + a,
    .menu {
        display: none;
    }

    /* Estilizando o toggle*/
    .toggle {
        display: block;
        background-color: #216b46;
        padding:14px 20px;  
        color:#FFF;
        font-size:17px;
        text-decoration:none;
        border:none;
    }

    /* Cor do Menu Mobile*/
    .toggle:hover {
        background-color: #91C53C;
    }

    /* Mostra o Dropdown quando clicado */
    [id^=drop]:checked + ul {
        display: block;
    }

    /* Mudando os itens do menu mobile para 100% */
    nav ul li {
        display: block;
        width: 100%;
        }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: #91C53C;
    }
  
    nav ul li ul li .toggle,
    nav ul ul a,
  nav ul ul ul a{
        padding:14px 20px;  
        color:#FFF;
        font-size:17px; 
    }
  
  
    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #1b8450; 
    }

    /* Esconder Dropdowns por padrão */
    nav ul ul {
        float: none;
        position:static;
        color: #ffffff;
        /* Deverá ter o mesmo número do "line-height" da "nav a" */
    }
        
    /* Esconder menus quando hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }
        
    /* Dropdown tier um */
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;
        /* Deverá ter o mesmo número do "width" da "nav ul ul li" */ 

    }

}

@media all and (max-width : 330px) {

    nav ul li {
        display:block;
        width: 94%;
    }

}

/*--------------------------- Rodapé --------------------------- */
.rodape-distribuido{
    bottom: 0;
}

.logotipo {
    width: 100%;
    text-align: center;
    font-size: 0.7em;
}

.logotipo img {
    width: 20%;
    vertical-align: middle;
    
}

@media (max-height:800px){
    .rodape-distribuido { position: static; }
}

.rodape-distribuido{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.rodape-distribuido .rodape-esquerda,
.rodape-distribuido .rodape-centro,
.rodape-distribuido .rodape-direita{
    display: inline-block;
    vertical-align: top;
}

/* Rodapé esquerda */

.rodape-distribuido .rodape-esquerda{
    width: 40%;
}

/* Logo da Empresa rodapé */

.rodape-distribuido h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.rodape-distribuido h3 span{
    color:  #5383d3;
}

/* Links do rodapé */

.rodape-distribuido .rodape-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.rodape-distribuido .rodape-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.rodape-distribuido .rodape-nomeempresa{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Centro do rodapé */

.rodape-distribuido .rodape-centro{
    width: 35%;
}

.rodape-distribuido .rodape-centro i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.rodape-distribuido .rodape-centro i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.rodape-distribuido .rodape-centro p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.rodape-distribuido .rodape-centro p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.rodape-distribuido .rodape-centro p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Direita do rodapé */

.rodape-distribuido .rodape-direita{
    width: 20%;
}

.rodape-distribuido .rodape-sobreempresa{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.rodape-distribuido .rodape-sobreempresa span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.rodape-distribuido .rodape-icones{
    margin-top: 25px;
}

.rodape-distribuido .rodape-icones a{
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 25px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* Media querie para o rodapé responsivo */

@media (max-width: 880px) {

    .rodape-distribuido{
        font: bold 14px sans-serif;
    }

    .rodape-distribuido .rodape-esquerda,
    .rodape-distribuido .rodape-centro,
    .rodape-distribuido .rodape-direita{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .rodape-distribuido .rodape-centro i{
        margin-left: 0;
    }

}
/*--------------------------- Rodapé --------------------------- */